.flickerInPattern1With0msDelay {
  animation: flickerInAnimationPattern1 2s 0ms linear both;
}

.flickerInPattern1With100msDelay {
  animation: flickerInAnimationPattern1 2s 100ms linear both;
}

.flickerInPattern1With200msDelay {
  animation: flickerInAnimationPattern1 2s 200ms linear both;
}

.flickerInPattern1With300msDelay {
  animation: flickerInAnimationPattern1 2s 300ms linear both;
}

.flickerInPattern1With400msDelay {
  animation: flickerInAnimationPattern1 2s 400ms linear both;
}

.flickerInPattern1With500msDelay {
  animation: flickerInAnimationPattern1 2s 500ms linear both;
}

.flickerInPattern1With600msDelay {
  animation: flickerInAnimationPattern1 2s 600ms linear both;
}

.flickerInPattern1With700msDelay {
  animation: flickerInAnimationPattern1 2s 700ms linear both;
}

.flickerInPattern1With800msDelay {
  animation: flickerInAnimationPattern1 2s 800ms linear both;
}

.flickerInPattern1With900msDelay {
  animation: flickerInAnimationPattern1 2s 900ms linear both;
}

.flickerInPattern1With1000msDelay {
  animation: flickerInAnimationPattern1 2s 1000ms linear both;
}

.flickerInPattern1With1100msDelay {
  animation: flickerInAnimationPattern1 2s 1100ms linear both;
}

.flickerInPattern1With1200msDelay {
  animation: flickerInAnimationPattern1 2s 1200ms linear both;
}

.flickerInPattern1With1300msDelay {
  animation: flickerInAnimationPattern1 2s 1300ms linear both;
}

.flickerInPattern1With1400msDelay {
  animation: flickerInAnimationPattern1 2s 1400ms linear both;
}

.flickerInPattern1With1500msDelay {
  animation: flickerInAnimationPattern1 2s 1500ms linear both;
}

.flickerInPattern1With1600msDelay {
  animation: flickerInAnimationPattern1 2s 1600ms linear both;
}

.flickerInPattern1With1700msDelay {
  animation: flickerInAnimationPattern1 2s 1700ms linear both;
}

.flickerInPattern1With1800msDelay {
  animation: flickerInAnimationPattern1 2s 1800ms linear both;
}

.flickerInPattern1With1900msDelay {
  animation: flickerInAnimationPattern1 2s 1900ms linear both;
}

.flickerInPattern1With2000msDelay {
  animation: flickerInAnimationPattern1 2s 2000ms linear both;
}

.flickerInPattern1With2100msDelay {
  animation: flickerInAnimationPattern1 2s 2100ms linear both;
}

.flickerInPattern1With2200msDelay {
  animation: flickerInAnimationPattern1 2s 2200ms linear both;
}

.flickerInPattern1With2300msDelay {
  animation: flickerInAnimationPattern1 2s 2300ms linear both;
}

.flickerInPattern1With2400msDelay {
  animation: flickerInAnimationPattern1 2s 2400ms linear both;
}

.flickerInPattern1With2500msDelay {
  animation: flickerInAnimationPattern1 2s 2500ms linear both;
}

.flickerInPattern1With2600msDelay {
  animation: flickerInAnimationPattern1 2s 2600ms linear both;
}

.flickerInPattern1With2700msDelay {
  animation: flickerInAnimationPattern1 2s 2700ms linear both;
}

.flickerInPattern1With2800msDelay {
  animation: flickerInAnimationPattern1 2s 2800ms linear both;
}

.flickerInPattern1With2900msDelay {
  animation: flickerInAnimationPattern1 2s 2900ms linear both;
}

.flickerInPattern1With3000msDelay {
  animation: flickerInAnimationPattern1 2s 3000ms linear both;
}

.flickerInPattern1With3100msDelay {
  animation: flickerInAnimationPattern1 2s 3100ms linear both;
}

.flickerInPattern1With3200msDelay {
  animation: flickerInAnimationPattern1 2s 3200ms linear both;
}

.flickerInPattern1With3300msDelay {
  animation: flickerInAnimationPattern1 2s 3300ms linear both;
}

.flickerInPattern1With3400msDelay {
  animation: flickerInAnimationPattern1 2s 3400ms linear both;
}

.flickerInPattern1With3500msDelay {
  animation: flickerInAnimationPattern1 2s 3500ms linear both;
}

.flickerInPattern1With3600msDelay {
  animation: flickerInAnimationPattern1 2s 3600ms linear both;
}

.flickerInPattern1With3700msDelay {
  animation: flickerInAnimationPattern1 2s 3700ms linear both;
}

.flickerInPattern1With3800msDelay {
  animation: flickerInAnimationPattern1 2s 3800ms linear both;
}

.flickerInPattern1With3900msDelay {
  animation: flickerInAnimationPattern1 2s 3900ms linear both;
}

.flickerInPattern1With4000msDelay {
  animation: flickerInAnimationPattern1 2s 4000ms linear both;
}

.flickerInPattern1With4100msDelay {
  animation: flickerInAnimationPattern1 2s 4100ms linear both;
}

.flickerInPattern1With4200msDelay {
  animation: flickerInAnimationPattern1 2s 4200ms linear both;
}

.flickerInPattern1With4300msDelay {
  animation: flickerInAnimationPattern1 2s 4300ms linear both;
}

.flickerInPattern1With4400msDelay {
  animation: flickerInAnimationPattern1 2s 4400ms linear both;
}

.flickerInPattern1With4500msDelay {
  animation: flickerInAnimationPattern1 2s 4500ms linear both;
}

.flickerInPattern1With4600msDelay {
  animation: flickerInAnimationPattern1 2s 4600ms linear both;
}

.flickerInPattern1With4700msDelay {
  animation: flickerInAnimationPattern1 2s 4700ms linear both;
}

.flickerInPattern1With4800msDelay {
  animation: flickerInAnimationPattern1 2s 4800ms linear both;
}

.flickerInPattern1With4900msDelay {
  animation: flickerInAnimationPattern1 2s 4900ms linear both;
}

.flickerInPattern1With5000msDelay {
  animation: flickerInAnimationPattern1 2s 5000ms linear both;
}

.flickerInPattern1With5100msDelay {
  animation: flickerInAnimationPattern1 2s 5100ms linear both;
}

.flickerInPattern1With5200msDelay {
  animation: flickerInAnimationPattern1 2s 5200ms linear both;
}

.flickerInPattern1With5300msDelay {
  animation: flickerInAnimationPattern1 2s 5300ms linear both;
}

.flickerInPattern1With5400msDelay {
  animation: flickerInAnimationPattern1 2s 5400ms linear both;
}

.flickerInPattern1With5500msDelay {
  animation: flickerInAnimationPattern1 2s 5500ms linear both;
}

.flickerInPattern1With5600msDelay {
  animation: flickerInAnimationPattern1 2s 5600ms linear both;
}

.flickerInPattern1With5700msDelay {
  animation: flickerInAnimationPattern1 2s 5700ms linear both;
}

.flickerInPattern1With5800msDelay {
  animation: flickerInAnimationPattern1 2s 5800ms linear both;
}

.flickerInPattern1With5900msDelay {
  animation: flickerInAnimationPattern1 2s 5900ms linear both;
}

.flickerInPattern1With6000msDelay {
  animation: flickerInAnimationPattern1 2s 6000ms linear both;
}

.flickerInPattern1With6100msDelay {
  animation: flickerInAnimationPattern1 2s 6100ms linear both;
}

.flickerInPattern1With6200msDelay {
  animation: flickerInAnimationPattern1 2s 6200ms linear both;
}

.flickerInPattern1With6300msDelay {
  animation: flickerInAnimationPattern1 2s 6300ms linear both;
}

.flickerInPattern1With6400msDelay {
  animation: flickerInAnimationPattern1 2s 6400ms linear both;
}

.flickerInPattern1With6500msDelay {
  animation: flickerInAnimationPattern1 2s 6500ms linear both;
}

.flickerInPattern1With6600msDelay {
  animation: flickerInAnimationPattern1 2s 6600ms linear both;
}

.flickerInPattern1With6700msDelay {
  animation: flickerInAnimationPattern1 2s 6700ms linear both;
}

.flickerInPattern1With6800msDelay {
  animation: flickerInAnimationPattern1 2s 6800ms linear both;
}

.flickerInPattern1With6900msDelay {
  animation: flickerInAnimationPattern1 2s 6900ms linear both;
}

.flickerInPattern1With7000msDelay {
  animation: flickerInAnimationPattern1 2s 7000ms linear both;
}

.flickerInPattern1With7100msDelay {
  animation: flickerInAnimationPattern1 2s 7100ms linear both;
}

.flickerInPattern1With7200msDelay {
  animation: flickerInAnimationPattern1 2s 7200ms linear both;
}

.flickerInPattern1With7300msDelay {
  animation: flickerInAnimationPattern1 2s 7300ms linear both;
}

.flickerInPattern1With7400msDelay {
  animation: flickerInAnimationPattern1 2s 7400ms linear both;
}

.flickerInPattern1With7500msDelay {
  animation: flickerInAnimationPattern1 2s 7500ms linear both;
}

.flickerInPattern1With7600msDelay {
  animation: flickerInAnimationPattern1 2s 7600ms linear both;
}

.flickerInPattern1With7700msDelay {
  animation: flickerInAnimationPattern1 2s 7700ms linear both;
}

.flickerInPattern1With7800msDelay {
  animation: flickerInAnimationPattern1 2s 7800ms linear both;
}

.flickerInPattern1With7900msDelay {
  animation: flickerInAnimationPattern1 2s 7900ms linear both;
}

.flickerInPattern1With8000msDelay {
  animation: flickerInAnimationPattern1 2s 8000ms linear both;
}

.flickerInPattern1With8100msDelay {
  animation: flickerInAnimationPattern1 2s 8100ms linear both;
}

.flickerInPattern1With8200msDelay {
  animation: flickerInAnimationPattern1 2s 8200ms linear both;
}

.flickerInPattern1With8300msDelay {
  animation: flickerInAnimationPattern1 2s 8300ms linear both;
}

.flickerInPattern1With8400msDelay {
  animation: flickerInAnimationPattern1 2s 8400ms linear both;
}

.flickerInPattern1With8500msDelay {
  animation: flickerInAnimationPattern1 2s 8500ms linear both;
}

.flickerInPattern1With8600msDelay {
  animation: flickerInAnimationPattern1 2s 8600ms linear both;
}

.flickerInPattern1With8700msDelay {
  animation: flickerInAnimationPattern1 2s 8700ms linear both;
}

.flickerInPattern1With8800msDelay {
  animation: flickerInAnimationPattern1 2s 8800ms linear both;
}

.flickerInPattern1With8900msDelay {
  animation: flickerInAnimationPattern1 2s 8900ms linear both;
}

.flickerInPattern1With9000msDelay {
  animation: flickerInAnimationPattern1 2s 9000ms linear both;
}

.flickerInPattern1With9100msDelay {
  animation: flickerInAnimationPattern1 2s 9100ms linear both;
}

.flickerInPattern1With9200msDelay {
  animation: flickerInAnimationPattern1 2s 9200ms linear both;
}

.flickerInPattern1With9300msDelay {
  animation: flickerInAnimationPattern1 2s 9300ms linear both;
}

.flickerInPattern1With9400msDelay {
  animation: flickerInAnimationPattern1 2s 9400ms linear both;
}

.flickerInPattern1With9500msDelay {
  animation: flickerInAnimationPattern1 2s 9500ms linear both;
}

.flickerInPattern1With9600msDelay {
  animation: flickerInAnimationPattern1 2s 9600ms linear both;
}

.flickerInPattern1With9700msDelay {
  animation: flickerInAnimationPattern1 2s 9700ms linear both;
}

.flickerInPattern1With9800msDelay {
  animation: flickerInAnimationPattern1 2s 9800ms linear both;
}

.flickerInPattern1With9900msDelay {
  animation: flickerInAnimationPattern1 2s 9900ms linear both;
}

.flickerInPattern1With10000msDelay {
  animation: flickerInAnimationPattern1 2s 10000ms linear both;
}

.flickerInPattern1With10100msDelay {
  animation: flickerInAnimationPattern1 2s 10100ms linear both;
}

.flickerInPattern1With10200msDelay {
  animation: flickerInAnimationPattern1 2s 10200ms linear both;
}

.flickerInPattern1With10300msDelay {
  animation: flickerInAnimationPattern1 2s 10300ms linear both;
}

.flickerInPattern1With10400msDelay {
  animation: flickerInAnimationPattern1 2s 10400ms linear both;
}

.flickerInPattern1With10500msDelay {
  animation: flickerInAnimationPattern1 2s 10500ms linear both;
}

.flickerInPattern1With10600msDelay {
  animation: flickerInAnimationPattern1 2s 10600ms linear both;
}

.flickerInPattern1With10700msDelay {
  animation: flickerInAnimationPattern1 2s 10700ms linear both;
}

.flickerInPattern1With10800msDelay {
  animation: flickerInAnimationPattern1 2s 10800ms linear both;
}

.flickerInPattern1With10900msDelay {
  animation: flickerInAnimationPattern1 2s 10900ms linear both;
}

.flickerInPattern1With11000msDelay {
  animation: flickerInAnimationPattern1 2s 11000ms linear both;
}

.flickerInPattern1With11100msDelay {
  animation: flickerInAnimationPattern1 2s 11100ms linear both;
}

.flickerInPattern1With11200msDelay {
  animation: flickerInAnimationPattern1 2s 11200ms linear both;
}

.flickerInPattern1With11300msDelay {
  animation: flickerInAnimationPattern1 2s 11300ms linear both;
}

.flickerInPattern1With11400msDelay {
  animation: flickerInAnimationPattern1 2s 11400ms linear both;
}

.flickerInPattern1With11500msDelay {
  animation: flickerInAnimationPattern1 2s 11500ms linear both;
}

.flickerInPattern1With11600msDelay {
  animation: flickerInAnimationPattern1 2s 11600ms linear both;
}

.flickerInPattern1With11700msDelay {
  animation: flickerInAnimationPattern1 2s 11700ms linear both;
}

.flickerInPattern1With11800msDelay {
  animation: flickerInAnimationPattern1 2s 11800ms linear both;
}

.flickerInPattern1With11900msDelay {
  animation: flickerInAnimationPattern1 2s 11900ms linear both;
}

.flickerInPattern1With12000msDelay {
  animation: flickerInAnimationPattern1 2s 12000ms linear both;
}

.flickerInPattern1With12100msDelay {
  animation: flickerInAnimationPattern1 2s 12100ms linear both;
}

.flickerInPattern1With12200msDelay {
  animation: flickerInAnimationPattern1 2s 12200ms linear both;
}

.flickerInPattern1With12300msDelay {
  animation: flickerInAnimationPattern1 2s 12300ms linear both;
}

.flickerInPattern1With12400msDelay {
  animation: flickerInAnimationPattern1 2s 12400ms linear both;
}

.flickerInPattern1With12500msDelay {
  animation: flickerInAnimationPattern1 2s 12500ms linear both;
}

.flickerInPattern1With12600msDelay {
  animation: flickerInAnimationPattern1 2s 12600ms linear both;
}

.flickerInPattern1With12700msDelay {
  animation: flickerInAnimationPattern1 2s 12700ms linear both;
}

.flickerInPattern1With12800msDelay {
  animation: flickerInAnimationPattern1 2s 12800ms linear both;
}

.flickerInPattern1With12900msDelay {
  animation: flickerInAnimationPattern1 2s 12900ms linear both;
}

.flickerInPattern1With13000msDelay {
  animation: flickerInAnimationPattern1 2s 13000ms linear both;
}

.flickerInPattern1With13100msDelay {
  animation: flickerInAnimationPattern1 2s 13100ms linear both;
}

.flickerInPattern1With13200msDelay {
  animation: flickerInAnimationPattern1 2s 13200ms linear both;
}

.flickerInPattern1With13300msDelay {
  animation: flickerInAnimationPattern1 2s 13300ms linear both;
}

.flickerInPattern1With13400msDelay {
  animation: flickerInAnimationPattern1 2s 13400ms linear both;
}

.flickerInPattern1With13500msDelay {
  animation: flickerInAnimationPattern1 2s 13500ms linear both;
}

.flickerInPattern1With13600msDelay {
  animation: flickerInAnimationPattern1 2s 13600ms linear both;
}

.flickerInPattern1With13700msDelay {
  animation: flickerInAnimationPattern1 2s 13700ms linear both;
}

.flickerInPattern1With13800msDelay {
  animation: flickerInAnimationPattern1 2s 13800ms linear both;
}

.flickerInPattern1With13900msDelay {
  animation: flickerInAnimationPattern1 2s 13900ms linear both;
}

.flickerInPattern1With14000msDelay {
  animation: flickerInAnimationPattern1 2s 14000ms linear both;
}

.flickerInPattern1With14100msDelay {
  animation: flickerInAnimationPattern1 2s 14100ms linear both;
}

.flickerInPattern1With14200msDelay {
  animation: flickerInAnimationPattern1 2s 14200ms linear both;
}

.flickerInPattern1With14300msDelay {
  animation: flickerInAnimationPattern1 2s 14300ms linear both;
}

.flickerInPattern1With14400msDelay {
  animation: flickerInAnimationPattern1 2s 14400ms linear both;
}

.flickerInPattern1With14500msDelay {
  animation: flickerInAnimationPattern1 2s 14500ms linear both;
}

.flickerInPattern1With14600msDelay {
  animation: flickerInAnimationPattern1 2s 14600ms linear both;
}

.flickerInPattern1With14700msDelay {
  animation: flickerInAnimationPattern1 2s 14700ms linear both;
}

.flickerInPattern1With14800msDelay {
  animation: flickerInAnimationPattern1 2s 14800ms linear both;
}

.flickerInPattern1With14900msDelay {
  animation: flickerInAnimationPattern1 2s 14900ms linear both;
}

.flickerInPattern1With15000msDelay {
  animation: flickerInAnimationPattern1 2s 15000ms linear both;
}

.flickerInPattern1With15100msDelay {
  animation: flickerInAnimationPattern1 2s 15100ms linear both;
}

.flickerInPattern1With15200msDelay {
  animation: flickerInAnimationPattern1 2s 15200ms linear both;
}

.flickerInPattern1With15300msDelay {
  animation: flickerInAnimationPattern1 2s 15300ms linear both;
}

.flickerInPattern1With15400msDelay {
  animation: flickerInAnimationPattern1 2s 15400ms linear both;
}

.flickerInPattern1With15500msDelay {
  animation: flickerInAnimationPattern1 2s 15500ms linear both;
}

.flickerInPattern1With15600msDelay {
  animation: flickerInAnimationPattern1 2s 15600ms linear both;
}

.flickerInPattern1With15700msDelay {
  animation: flickerInAnimationPattern1 2s 15700ms linear both;
}

.flickerInPattern1With15800msDelay {
  animation: flickerInAnimationPattern1 2s 15800ms linear both;
}

.flickerInPattern1With15900msDelay {
  animation: flickerInAnimationPattern1 2s 15900ms linear both;
}

.flickerInPattern1With16000msDelay {
  animation: flickerInAnimationPattern1 2s 16000ms linear both;
}

.flickerInPattern1With16100msDelay {
  animation: flickerInAnimationPattern1 2s 16100ms linear both;
}

.flickerInPattern1With16200msDelay {
  animation: flickerInAnimationPattern1 2s 16200ms linear both;
}

.flickerInPattern1With16300msDelay {
  animation: flickerInAnimationPattern1 2s 16300ms linear both;
}

.flickerInPattern1With16400msDelay {
  animation: flickerInAnimationPattern1 2s 16400ms linear both;
}

.flickerInPattern1With16500msDelay {
  animation: flickerInAnimationPattern1 2s 16500ms linear both;
}

.flickerInPattern1With16600msDelay {
  animation: flickerInAnimationPattern1 2s 16600ms linear both;
}

.flickerInPattern1With16700msDelay {
  animation: flickerInAnimationPattern1 2s 16700ms linear both;
}

.flickerInPattern1With16800msDelay {
  animation: flickerInAnimationPattern1 2s 16800ms linear both;
}

.flickerInPattern1With16900msDelay {
  animation: flickerInAnimationPattern1 2s 16900ms linear both;
}

.flickerInPattern1With17000msDelay {
  animation: flickerInAnimationPattern1 2s 17000ms linear both;
}

.flickerInPattern1With17100msDelay {
  animation: flickerInAnimationPattern1 2s 17100ms linear both;
}

.flickerInPattern1With17200msDelay {
  animation: flickerInAnimationPattern1 2s 17200ms linear both;
}

.flickerInPattern1With17300msDelay {
  animation: flickerInAnimationPattern1 2s 17300ms linear both;
}

.flickerInPattern1With17400msDelay {
  animation: flickerInAnimationPattern1 2s 17400ms linear both;
}

.flickerInPattern1With17500msDelay {
  animation: flickerInAnimationPattern1 2s 17500ms linear both;
}

.flickerInPattern1With17600msDelay {
  animation: flickerInAnimationPattern1 2s 17600ms linear both;
}

.flickerInPattern1With17700msDelay {
  animation: flickerInAnimationPattern1 2s 17700ms linear both;
}

.flickerInPattern1With17800msDelay {
  animation: flickerInAnimationPattern1 2s 17800ms linear both;
}

.flickerInPattern1With17900msDelay {
  animation: flickerInAnimationPattern1 2s 17900ms linear both;
}

.flickerInPattern1With18000msDelay {
  animation: flickerInAnimationPattern1 2s 18000ms linear both;
}

.flickerInPattern1With18100msDelay {
  animation: flickerInAnimationPattern1 2s 18100ms linear both;
}

.flickerInPattern1With18200msDelay {
  animation: flickerInAnimationPattern1 2s 18200ms linear both;
}

.flickerInPattern1With18300msDelay {
  animation: flickerInAnimationPattern1 2s 18300ms linear both;
}

.flickerInPattern1With18400msDelay {
  animation: flickerInAnimationPattern1 2s 18400ms linear both;
}

.flickerInPattern1With18500msDelay {
  animation: flickerInAnimationPattern1 2s 18500ms linear both;
}

.flickerInPattern1With18600msDelay {
  animation: flickerInAnimationPattern1 2s 18600ms linear both;
}

.flickerInPattern1With18700msDelay {
  animation: flickerInAnimationPattern1 2s 18700ms linear both;
}

.flickerInPattern1With18800msDelay {
  animation: flickerInAnimationPattern1 2s 18800ms linear both;
}

.flickerInPattern1With18900msDelay {
  animation: flickerInAnimationPattern1 2s 18900ms linear both;
}

.flickerInPattern1With19000msDelay {
  animation: flickerInAnimationPattern1 2s 19000ms linear both;
}

.flickerInPattern1With19100msDelay {
  animation: flickerInAnimationPattern1 2s 19100ms linear both;
}

.flickerInPattern1With19200msDelay {
  animation: flickerInAnimationPattern1 2s 19200ms linear both;
}

.flickerInPattern1With19300msDelay {
  animation: flickerInAnimationPattern1 2s 19300ms linear both;
}

.flickerInPattern1With19400msDelay {
  animation: flickerInAnimationPattern1 2s 19400ms linear both;
}

.flickerInPattern1With19500msDelay {
  animation: flickerInAnimationPattern1 2s 19500ms linear both;
}

.flickerInPattern1With19600msDelay {
  animation: flickerInAnimationPattern1 2s 19600ms linear both;
}

.flickerInPattern1With19700msDelay {
  animation: flickerInAnimationPattern1 2s 19700ms linear both;
}

.flickerInPattern1With19800msDelay {
  animation: flickerInAnimationPattern1 2s 19800ms linear both;
}

.flickerInPattern1With19900msDelay {
  animation: flickerInAnimationPattern1 2s 19900ms linear both;
}

.flickerInPattern1With20000msDelay {
  animation: flickerInAnimationPattern1 2s 20000ms linear both;
}

@keyframes flickerInAnimationPattern1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 1;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */