::-webkit-scrollbar {

  width: 5px;
}




::-webkit-scrollbar-track {

  background: #121212;
}




::-webkit-scrollbar-thumb {

  background: linear-gradient(#642bff, #ff22e6);
  
  border-radius: 50px;
}